In [19]:
#Import the libraries needed
from config import gkey
import gmaps
import numpy as np
import pandas as pd
import requests

In [20]:
#Load dataframe of interest
city_data_df=pd.read_csv("../WeatherPy/analysis_data.csv")
city_data_df

,City,Country Code,Lat [deg],Long [deg],Temperature [F],Humidity [%],Cloudiness [%],Wind Speed [mph]
0,rikitea,pf,-23.12,-134.97,77.036,76,19,4.69
1,busselton,au,-33.65,115.33,81.428,29,100,7.54
2,punta arenas,cl,-53.15,-70.92,50.000,66,78,8.70
3,ushuaia,ar,-54.80,-68.30,53.600,91,40,6.20
4,hobart,au,-42.88,147.33,59.486,47,75,6.20
...,...,...,...,...,...,...,...,...
710,dikson,ru,73.51,80.55,30.056,96,100,7.71
711,college,us,64.86,-147.80,12.758,71,1,1.04
712,havoysund,no,71.00,24.66,15.800,85,100,11.80
713,narsaq,gl,60.92,-46.05,19.400,79,98,0.59
714,vardo,no,70.37,31.11,20.156,76,100,10.17

In [21]:
 # Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [22]:
 # Store 'Lat [deg]' and 'Long [deg]' into  locations 
locations_df = city_data_df[["Lat [deg]", "Long [deg]"]].astype(float)

# Convert Humidity to float and store
humidity_df = city_data_df["Humidity [%]"].astype(float)

In [23]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations_df, weights=humidity_df, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
#Filter ideal weather conditions
cities_of_interest=pd.DataFrame()

for index,row in city_data_df.iterrows():
    if row["Temperature [F]"]>73 and row["Temperature [F]"]<78 and row["Wind Speed [mph]"]<10 and row["Cloudiness [%]"]==0:
        cities_of_interest[index]=row
#     else:
#         cities_of_interest
cities_of_interest.dropna().transpose()

,City,Country Code,Lat [deg],Long [deg],Temperature [F],Humidity [%],Cloudiness [%],Wind Speed [mph]
22,cidreira,br,-30.18,-50.21,74.876,89,0,9.25
27,arraial do cabo,br,-22.97,-42.03,77.09,85,0,4.46
60,sawtell,au,-30.38,153.1,77.09,50,0,5.7
89,ellisras,za,-23.66,27.74,76.082,56,0,3.3
223,san patricio,mx,19.22,-104.7,75.02,85,0,2.43
304,niamey,ne,13.51,2.11,75.2,14,0,2.1
329,santa maria,cv,-29.68,-53.81,74.21,68,0,1.91
343,dwarka,in,22.24,68.97,77.234,49,0,4.58
345,emilio carranza,mx,19.97,-96.61,75.326,78,0,5.81
376,dali,cn,25.7,100.18,73.31,21,0,2.82